@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/oswald-light-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/oswald-regular-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

a.oslink:link{color: #FF6600; text-decoration: none;}
a.oslink:visited{color: #FF6600; text-decoration: none;}
a.oslink:hover{color: #FFAA00; text-decoration: none;}

body, html {
	margin: 0;
	width: 100%;
	text-align: center;
}

#navbar-container{
	width: 100%;
	height: 75px;
	background-color: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	box-shadow: 10px 0px 10px #888888;
}

#navbar-title{
	float: left;
	margin-top: 0px;
	height: 75px;
	width: 12%;
}

#navbar-left{
	padding-top: 20px;
	text-align: right;
	width: 44%;
	float: left;
}

#navbar-right{
	padding-top: 20px;
	text-align: left;
	width: 44%;
	float: left;
}

#navbar-title a{
	text-decoration: none;
	font-family: "Bebas";
	font-size: 50pt;
	color: #222; 
}

.navbar a{
	text-decoration: none;
	font-family: "Oswald-Light";
	font-size: 20pt;
	color: #444;
}

.navbar a:hover{
	color: orange;
}

#navbar-left a{
	margin-right: 30px;
}

#navbar-right a{
	margin-left: 30px;
}

#banner{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 580px;
	background-image: url("../img/techlights_crop.jpg");
	background-size: cover;
	background-color: #000;
	z-index: 0;
}

#banner-text{
	margin-top: 150px;
	text-shadow: 0 0 10px rgba(0,0,0,.6);
}

#banner-text h1{
	font-family: "Bebas";
	font-size: 80pt;
	color: white;
	font-weight: normal;
}

#banner-text p{
	font-family: "Oswald-Light";
	font-size: 45pt;
	color: white;
}

.banner-buttons{
	margin-top: 80px;
	margin-left: -50px;
}

.banner-buttons a{
	width: 200px;
	margin-left: 50px;
	font-size: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,.7);
}

.borderbtn{
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-family: 'bebas';
	font-weight: 200;
	border: 2px solid #fff;
	vertical-align: middle;
	border-radius: 5px;
	transition: background-color .3s, color .3s;
}

.borderbtn:hover{
	color: #DD3F28;
	background-color: #fff;
}

.borderbtn:active{
	box-shadow: 0 0 10px rgba(0,0,0,.7), inset 0 0 10px rgba(0,0,0,.6);
}

.bottom-info{
	padding-top: 20px;
	width: 100%;
	float: left;
	position: absolute;
	top: 580px;
	text-align: center;
}

.bottom-info i{
	font-size: 50px;
	margin-bottom: 10px;
	color: #222;
}

.bottom-info h3{
	font-family: 'bebas';
	font-size: 30px;
	color: #222;
}

.bottom-info p{
	font-family: 'oswald-light';
	font-size: 17px;
	margin-top: 5px;
	line-height: 20px;
	text-align: justify;
	padding-left: 20px;
	padding-right: 20px;
}

#left-box{
	padding-top: 20px;
	width: 33.3%;
	float: left;
	font-family: "Bebas";
	font-size: 30pt;
	color: #AAAAFF;
}

#middle-box{
	padding-top: 20px;
	width: 33.3%;
	float: left;
	font-family: "Bebas";
	font-size: 30pt;
	color: #AAAAFF;
}

#right-box{
	padding-top: 20px;
	width: 33.3%;
	float: left;
	font-family: "Bebas";
	font-size: 30pt;
	color: #AAAAFF;
}

.page-container-1{
	margin-top: 75px;
}

.body-container-1{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	color: #222222;
}

.body-header-1{
	margin-top: 25px;
	margin-bottom: 0px;
}

.body-header-descrip{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#page-container-2{
	background-color: #f1f1f1;
}

#body-container-2{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	text-align: center;
	color: #222222;
}
#body-whatwedo{
	margin-top: 25px;
}

#page-container-3{
}

#body-container-3{
	margin-left: auto;
	margin-right: auto;
	width:80%;
	text-align: center;
	color: #222222;
}
#body-meetourteam{
	margin-top: 25px;
}

h1{ /*Main page header*/
	color: #333366;
	font-size: 110pt;
	font-family: 'Bebas';
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

h2{ /*for text right under main page header*/
	margin-top: 0px;
	font-size: 22pt;
	font-family:"Oswald-Light";
	font-weight: normal;
}


h3{ /*column headers, subheaders in body of text*/
	font-family: "Bebas";
	color: #AAAAFF;
	font-size: 48pt;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}


h4{ /*body headers*/
	font-family: "Bebas";
	font-size: 80pt;
	color: #333366;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
}

p{ /*for all body text*/
	font-family: "Oswald-Light";
	font-size: 16pt;
	margin-top: 0px;
	margin-bottom: 0px;
}

.osbold{ /*Oswald Bold*/
	font-family: "Oswald";
	font-weight: bold;
}

.oswald-30{
	font-family: "Oswald-Light";
	font-size: 30pt;
}

.bebas-32{
	font-family: "Bebas";
	font-size: 32pt;

}



